//Basic colors for bootstrap
$white:             #ffffff !default;
$light:              #010a46 !default;
$dark:              #010a46 !default;
$primary:         #343597 !default;
$secondary:     #0e4d92 !default;
$success:         #00a15e !default;
$info:               #00d0d0 !default;
$warning:        #e0cb00!default;
$danger:          #ef1e00!default;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
